
<div class="enclose_form">
    <%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
    <%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>
    
    <p class="form_heading">Login</p>
    <%= form_with url: session_path do |form| %>
      <div class="form_field">
        <%= form.label :email%>
        <%= form.email_field :email_address, required: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address] %>
      </div>
      <div class="form_field">
        <%= form.label :password%>
        <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72 %><br>
      </div>
      <div class="form_other_field end">
        <%= form.submit "New User?", class:'login' %>
        <%= form.submit "Sign in", class:'signup' %>
      </div>
      <div class="form_other_field">
        <%= link_to "Forgot password?", new_password_path %>
      </div>
    <% end %>
   

</div>




 

   
   